.catalog-container {
   // "margin-top: 26px;", "padding-left: 40px;" e "padding-right: 40px;" eh eh pra respeitar os espacamentos do Figma.
    margin-top: 26px;
    padding-left: 40px;
    padding-right: 40px;
}

.catalog-title {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
}

.catalog-products {
    // "margin-top: 43px;" eh pra respeitar os espacamentos do Figma.
    margin-top: 43px;
    // "display: grid;" eh pra organizar os cards em colunas.
    display: grid;
    /*
        * "grid-template-columns: repeat*auto-fill, 250px*;":
            - Cria as colunas de fato *Somente o "display:grid;" n eh suficiente *ele cria apenas 1 coluna**;
            - O metodo "repeat" eh pra criar as colunas de fato *criar as colunas e n repetir trocentas vezes a qtde de colunas q qro*;
            - Explicacao do parametro "auto-fill" nas anotacoes "Aula 12 e 13".
    */
    grid-template-columns: repeat(auto-fill, 250px);
    // "justify-content: space-between;" eh pra criar espacamentos laterais entre os cards e pra distribui-los de forma organizada no layout.
    justify-content: space-between;
    /*
        * "grid-gap: 33px 20px;" eh pra criar espacamento inferior nos cards;
        * Como ler esse "33px 20px"?
            R: "33px" eh o espacamento inferior dos cards, e "20px" eh o espacamento lateral entre os cards *q funciona qdo eu diminuo a tela*.
    */
    grid-gap: 33px 20px;
}