// * https://create-react-app.dev/docs/adding-bootstrap * NESSE LINK EXPLICA O Q EH ESSE "CUSTOM.SCSS";

// Cores do tema do Bootstrap
$theme-colors: (
    "primary": #407BFF
);

// Background do sistema. ** Se eu olhar no Figma, o background do sistema eh cinza, entao esse codigo poe essa cor.
$body-bg: #F2F2F2;

// Cor do texto. ATENCAO! Essas variaveis "body-color", "body-bg", etc. sao do Bootstrap!! * https://getbootstrap.com/docs/4.0/getting-started/theming/ *
$body-color: hsl(200, 19%, 18%);

@import '~bootstrap/scss/bootstrap.scss';