.btn-icon {
    height: 70px;
    // "width: 380px;" eh a largura do botao. *Botao e icone sao 2 coisas !=*.
    width: 380px;
    /* 
        * "border-radius: 10px 0 0 10px;" eh as bordas esquerda do botao. 
        * Como ler esse "10px 0 0 10px;"?
            R: Ponta esquerda superior, ponta direita superior, ponta direita inferior e ponta esquerda inferior. 
    */
    border-radius: 10px 0 0 10px;
    // "text-transform: uppercase;" eh pra transformar o texto do botao em maiusculo.
    text-transform: uppercase;
}

.btn-icon-content {
    background-color: #33569b;
    width: 70px;
    // ATENCAO! N coloquei "height" tb pq o icon herda a altura do elemento HTML "<button></button>".
    border-radius: 0 10px 10px 0;
    display: flex;
    // "align-items: center;" eh pra alinhar o icone verticalmente ao centro.
    align-items: center;
    // "justify-content: center;" eh pra alinhar o icone horizontalmente ao centro.
    justify-content: center;
    // "color:white;" eh pq o sist tem varias setas *arrow.svg*, cada uma c/ uma cor !=. Defini no atributo "stroke" do "arrow.svg" o valor "currentColor" pra q eu possa usar uma determinada cor pra cada uso da seta.
    color: white;
}