.home-container {
    // "margin-top: 40px;", "padding-left: 40px;" e "padding-right: 40px;" eh pra respeitar os espacamentos do Figma.
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.home-content {
    // "padding-top: 155px;", "padding-left: 100px;" e "padding-bottom: 150px;" eh pra respeitar os espacamentos do Figma.
    padding-top: 155px;
    padding-left: 100px;
    padding-bottom: 150px;
}

.text-title {
    font-size: 55px;
    // "line-height: 75px;" e "letter-spacing: -0.015em;" significam, respectivamente, altura da linha e espacamento entre as letras.
    line-height: 75px;
    letter-spacing: -0.015em;
}

.text-subtitle {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #9e9e9e;
    margin-top: 30px;
    margin-bottom: 150px;
}

.main-image {
    // Ajeita a img *dxa ela menor e mais pra esquerda *no meu monitor* - pra ser fiel ao Figma*
    width: 100%;
}