.home-container {
    // "margin-top: 40px;", "padding-left: 40px;" e "padding-right: 40px;" pq no desenho da tela "Home" existe um espaçamento frontal e lateral entre a "Home" e o "Navbar".
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.home-content {
    background-color: white;
}