.product-card {
    // "width: 245px;" tah comentado pq jah defini a largura do card na conf "grid-template-columns: repeat*auto-fill, 250px*;", q estah na classe ".catalog-products" *classe do componente "Catalog"*.
    //width: 245px;
    /*
        * "padding: 20px 20px 30px 20px;" eh pra respeitar os espacamentos do Figma.
        * Ql ler esse "20px 20px 30px 20px;"?
            R: Superior, direita, inferior e esquerda.
    */
    padding: 20px 20px 30px 20px;
    // "text-align: center;" eh pra alinhar ao centro a foto do prod.
    text-align: center;
}

.product-info {
    // "border-top: 1px solid #E1E1E1;" eh pra criar uma linha entre a foto e o titulo do prod.
    border-top: 1px solid #E1E1E1;
    // "text-align: left;" eh pra alinhar a esquerda o titulo e o preco do prod.
    text-align: left;
    // "padding-top: 15px;" eh pra respeitar os espacamentos do Figma *espacamento entre a linha e o titulo*.
    padding-top: 15px;
    // "margin-top: 15px;" eh pra respeitar os espacamentos do Figma *espacamento entre a foto e a linha*.
    margin-top: 15px;
}

.product-name {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}

.product-card-image {
    // "width: 160px;" e "height: 160px;" eh pra respeitar o tamanho da img dos cards do Figma. Dessa forma, se o usu tiver uma internet lenta, o componente vai carregar + rápido *do minuto 00:50 ao minuto 05:43 da aula0223 o prof explica como testar isso de internet lenta*. 
    width: 160px;
    height: 160px;
}